<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">

    <link rel="stylesheet" href="/public/css/main.css" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="css/sweetalert2.css">

</head>

<body>

    <div class="posts">
        {{{body}}}

    </div>
    <script src="/public/scripts/sweetalert2.all.js"></script>
</body>

</html>