.container {
    max-width: 960px;
}

/*
 * Fonts
 */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap");

@import url(//db.onlinewebfonts.com/c/ee2d6efb70dae6b477d30df1fd294972?family=Bitstream+Iowan+Old+Style);
@font-face {
    font-family: "Bitstream Iowan Old Style";
    src: url("//db.onlinewebfonts.com/t/ee2d6efb70dae6b477d30df1fd294972.eot");
    src: url("//db.onlinewebfonts.com/t/ee2d6efb70dae6b477d30df1fd294972.eot?#iefix")
            format("embedded-opentype"),
        url("//db.onlinewebfonts.com/t/ee2d6efb70dae6b477d30df1fd294972.woff2")
            format("woff2"),
        url("//db.onlinewebfonts.com/t/ee2d6efb70dae6b477d30df1fd294972.woff")
            format("woff"),
        url("//db.onlinewebfonts.com/t/ee2d6efb70dae6b477d30df1fd294972.ttf")
            format("truetype"),
        url("//db.onlinewebfonts.com/t/ee2d6efb70dae6b477d30df1fd294972.svg#Bitstream Iowan Old Style")
            format("svg");
}

@import url('https://fonts.googleapis.com/css2?family=Oleo+Script:wght@700&display=swap');

/* 
 * General
 */

html {
    scroll-behavior: smooth;
}

div {
    font-family: "Bitstream Iowan Old Style";
}

/*
 * Navbar
 */

/*
 * Custom translucent site header
 */

.navbtn {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 12px;
    line-height: normal;
    text-align: center;
    height: 25px;
    width: 75px;
}

.site-header {
    height: 51px;
    background-color: rgba(0, 0, 0, 0.85);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
}
.site-header a {
    padding: 12px 25px;
    color: black;
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-weight: 400;
    transition: color 0.15s ease-in-out;
    text-decoration: none;
}

.site-header a:hover {
    color: black;
    text-decoration: underline;
    text-decoration-color: #46b1c9;
}


/*
 * Play
 */

.choice {
    width: 60px;
    height: 60px;
    font-size: 20px;
}

.selected {
    background-color: #46b1c9;
    color: #fbfbf5;
    border: none;
}

.wrong-selected {
    background-color: #9c9fa0;
    color: #fbfbf5;
    border: none;
}

#note-image {
    height: 350px;
}

.col,
#display-message {
    font-family: "Inter", sans-serif;
    font-size: 20px;
}

#next-question {
    width: 300px;
    height: 50px;
    font-family: "Inter", sans-serif;
    margin: 0 auto;
}

.card-title {
    text-align: center;
}

/*
 * About
 */
.pfp {
    height: 6vw;
}

/*
 * Extra utilities
 */

.flex-equal > * {
    flex: 1;
}
@media (min-width: 768px) {
    .flex-md-equal > * {
        flex: 1;
    }
}

/*
 * Specifics
 */

#logo {
    font-family: 'Oleo Script', cursive;
    font-weight: 400;
}

/* 
  Button Styling 
*/

.primary-btn {
    padding: 0;
    margin: 0 10px;
    background-color: #393e41;
    color: #ffffff;
    border: none;
}

.primary-btn:hover {
    background-color: #6b6e71;
    color: #ffffff;
}

.primary-btn:active {
    background-color: #2b2f31;
    color: #ffffff;
}

.secondary-btn {
    padding: 0;
    margin: 0 10px;
    background-color: #fbfbf5;
    color: #000000;
    border: 1px solid #393e41;
}

.secondary-btn:hover {
    background-color: #f6f7eb;
    color: #000000;
}

.secondary-btn:active {
    background-color: #e7e8de;
    color: #000000;
}

.sidenav {
    height: 500px;
    width: 360px;
    position: fixed;
    top: 110px;
    left: 0;
    background-color: #f8f9f0;
    /* overflow-x: hidden; */
    padding-top: 20px;
}

.sidenav a {
    padding: 6px 6px 6px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    color: black;
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-weight: 400;
    transition: color 0.15s ease-in-out;
    text-decoration: none;
}

.sidebar-left-header {
    padding-left: 10px;
}

#sidebar-left {
    padding-left: 10px;
}

img {
    padding-top: 10px;
    padding-bottom: 10px;
}
/* 
.red {
    background-color: red;
} */

#learnContent {
    padding-left: 380px;
}

#piano {
    height: 500px;
}

.result-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-note {
    margin-right: 20px;
}

/* .result-div {
} */

.right-note {
    margin-left: 20px;
}
/*
#visibility{
    position:absolute;
    left:250px;
    top:-90px;
}
*/

#visibility1, #visibility2{
    position:absolute;
    left:90%;
    margin-top: 1.6%;
}


#positionEye1, #positionEye2{
    position: relative;
}



