<div class="d-flex justify-content-center mt-5">
  <div class="grid">
    <h2 class="row justify-content-center">Incorrect!</h2>
    <div class="row justify-content-center">
      <a class="row justify-content-center" href = '/quiz'>Try Again</a>
    </div>
  </div>
</div>

