<div class = "leaderContainer">
{{#if leaders.length}}
    <table class="leaderTable">
        <th><h1>Quiz Leader Board</h1></th>
        {{#each leaders}}
        <tr>
            <td>{{username}}: {{correct}} correct answers</td>
        </tr>
        {{/each}}
    </table>
{{/if}}
<a class="nav-link" href="/quiz">Click here to do more quizes!</a>
</div>