<div class = "leaderContainer">
{{#if leaders.length}}
    <table class="leaderTable">
        <th><h1>Leader Board</h1></th>
        {{#each leaders}}
        <tr>
            <td>{{username}}:{{correct}}</td>
        </tr>
        {{/each}}
    </table>
{{/if}}
</div>