
    <body>
    
        <div class="student-profile py-4">
            <div class="container">
              <div class="row">
                <div class="col-lg-4">
                  <div class="card shadow-sm">
                    <div class="card-header bg-transparent text-center">
                      <img class="profile_img" src="https://www.ddvelderlaw.com/wp-content/uploads/2019/07/storyblocks-brain-training-with-dumbbells-and-glasses-vector_rA-6CycLz_thumb.jpg" alt="student dp">
                      <h3>{{username}}</h3>
                    </div>
                    <div class="card-body">
                    <!--
                      <p class="mb-0"><strong class="pr-1">Parent ID:</strong>Insert Parent ID</p>
                     <p class="mb-0"><strong class="pr-1">Grade:</strong>Insert Grade</p>
                      <p class="mb-0"><strong class="pr-1">Age:</strong>Insert Age</p> -->
                      <p class="mb-0"><strong class="pr-1">Email:</strong>{{email}}</p>
                      {{#if isParent}}
                      <div class="card-body pt-0">
                        <table class="table table-bordered">
                            {{#each child}}
                            <th width="30%">Child</th>
                            <td>{{this.username}}</td>
                            {{/each}}
                        </table>
                      </div>
                      {{/if}}
                    </div>
                    <div class="card-body pt-0">
                      <table class="table table-bordered">
                        <th>Words Learned</th>
                        {{#each wordsLearned}}
                        <tr>
                           <td>{{this}}</td>
                        </tr>
                        {{/each}}
                      </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    </body>
  